<div id='contact'class="container">
    <div class="row justify-content-center">
      <div class="col-md-6 text-center">
        <h2 class='linearp'>Want to work together?</h2>
        <p class='reach'>Feel free to reach out at</p>
        <a class='email'href="mailto:naseroish@gmail.com">naseroish@gmail.com</a>
        <div class="social-icons">
          <a href="#" class="btn btn-outline-secondary"><i class="fab fa-facebook-f"></i></a>
          <a href="#" class="btn btn-outline-secondary"><i class="fab fa-twitter"></i></a>
          <a href="#" class="btn btn-outline-secondary"><i class="fab fa-instagram"></i></a>
          <a href="#" class="btn btn-outline-secondary"><i class="fab fa-linkedin-in"></i></a>
        </div>
      </div>
    </div>
  </div>
  