{% extends 'base/base.html' %}
{%load static%}
{% block content %}
<!-- Include the hero section -->
<style>
    .jumbotron {
      background-color: #fff;
      margin-top: 50px;
    }
    .conta {
        align-content: center;
        align-items: center;
        border-radius: 20px;
        display: flex;
        flex: 1 0 0px;
        flex-direction: row;
        flex-wrap: nowrap;
        gap: 10px;
        height: 50vh;
        justify-content: center;
        padding: 0;
        position: relative;
    }
    .profile-img {
        width: 70%;
        height: 100%;
        position: absolute;
        pointer-events: none;
        user-select: none;
        border-radius: 200px;
        top: 50;
        right: 20;
        bottom: 20;
        left: 20;
    }
    .social-icons {
      font-size: 1.5rem;
      margin-top: 20px;
    }
    .social-icons a {
      color: #6c757d;
      margin-right: 10px;
    }
    .social-icons a:hover {
      color: #007bff;
    }
    .h2c1{
      font-size: 2.5rem;
      font-weight: 700;
      line-height: 1.2;
      margin-bottom: 10px;
    }
    .pc1{
      font-size: 1.5rem;
      font-weight: 300;
      line-height: 1.2;
      margin-bottom: 150px;
    }
    .ccs{
      margin-top: 40px;

    }
    .gg12{
        marigin-bottom: 0px !important;
    }
  </style>
  <div class="container gg12">
    <div class="jumbotron row">
      <div class="col-md-6 ccs">
        <h2 class='h2c1' >My name is Naser. I'm a Kingston University computer science student.</h2>
        <p class='pc1'>I'm interested in UI/UX design, prototyping, and frontend development and have a strong desire to learn and explore new technologies. In my spare time, I like to make things, go to the gym, and play video games.</p>
      </div>
      <div class="col-md-6 conta">
        <img src={% static 'icons\me.jpg' %} alt="Profile Picture" class="profile-img float-right">
      </div>
    </div>
  </div>
  {% include 'include/contact.html' %}
{% endblock %}